:local(.general)
  position relative

:local(.general__icon)
  width 100%

:local(.next_city)
:local(.prev_city)
  position absolute
  font-size 200%
  cursor pointer

:local(.next_city)
  top 0
  right 0

:local(.prev_city)
  top 0
  left 0

:local(.description)
  display inline-block
  width 100%
  margin-bottom 20px

:local(.description__weather)
  font-size 200%
  font-weight bold
  text-transform capitalize


:local(.description__container)
  overflow hidden

:local(.description__temp)
  float right
  width 40%
  font-size 180%
  font-weight bold
  text-align right

:local(.description__place)
  float left
  width 60%
  font-size 80%

:local(.description__date)
  display block

:local(.description__city)
  display block

@media screen and (orientation: landscape) and (max-width: 550px)
  :local(.description)
    width 50%
    font-size 10pt
    vertical-align text-bottom

  :local(.general__icon)
    width 50%

  :local(.description__temp)
    font-size 150%

:local(.forecast)
  font-size 70%
  margin-bottom 10px
  overflow hidden

:local(.forecast_day)
  float: left
  width: 25%
  text-align center

:local(.forecast_day__date)
:local(.forecast_day__temp)
  text-align center

:local(.detail)
  width 100%
  display: table;
  border-collapse collapse

:local(.parametr)
  font-size 70%
  padding 5px 2px
  text-align center
  display: table-cell;
  border: 1px solid black;

:local(.detail__column)
  display table-row

:local(.parametr__name)
  margin-bottom 3px

:local(.parametr__value)
  font-weight bolder