:local(.cities)
  padding-left: 0px;
  margin 0px 0px

:local(.city)
  margin: 2px 2px;
  display: inline-block;

  border: solid 1px #e5ce8b;
  border-radius: 5px;

:local(.city_name)
  display inline-block
  vertical-align middle
  padding: 2px 8px;

  background-color: #faf3d9;
  border-radius: 4px 0 0 4px;
  cursor: text;

:local(.button)
  content ''
  vertical-align middle
  padding: 3px 10px;
  position: relative;

  background-color: #edd9a4;
  border-left: solid 1px #e5ce8b;
  border-radius: 0 4px 4px 0;
  cursor: pointer;