:local(.cities)
  padding-left: 0px;
  margin 0px 0px

:local(.city)
  margin: 2px 2px;
  display: block;
  border: solid 1px black;
  border-radius: 5px;
  width 100%

:local(.city__name)
  width 80%
  display inline-block
  vertical-align middle
  padding: 2px 7px;
  border-radius: 4px 0 0 4px;
  cursor: text;

:local(.button)
  width 20%
  vertical-align middle
  padding: 3px 10px;
  position: relative;
  content ''
  border-left solid 1px black
  border-radius 0 4px 4px 0
  cursor pointer;

:local(.search)
  width 80%
  padding: 2px 7px;
  font-size inherit

:local(.search__button)
  padding: 3px 7px;
  border-left none