
#cross
  position absolute
  left 9px
  top 7px

  background #fff
  height 10px
  width 2px
  cursor pointer

  transform rotate(45deg)
  -webkit-transform rotate(45deg)
  -moz-transform rotate(45deg)
  -ms-transform rotate(45deg)
  -o-transform rotate(45deg)

#cross:after {
  position absolute
  left -4px
  top 4px

  background #fff
  content ""
  height 2px
  cursor pointer
  width 10px
}

#magnifying-glass
  position: absolute;
  display: block;

  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid black;
  border-radius: 0.35em;

#magnifying-glass::before
  display: block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;

  content: "";
  border-width: 0;
  background: black;
  width: 0.35em;
  height: 0.08em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);