//
   Created by Oleg Rusak on 07.02.2016.

html
    head
        meta(charset='utf-8')
        meta(name='viewport' content="width=340")
        title Example use weather application

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        #container

        script(src="lib/#{react}")
        script(src="lib/#{react_dom}")
        script(src="#{weather}")