:local(.weather_container)
  width 250px
  margin 100px auto
  padding 10px
  text-align left

:local(.tab_container)
  font-size 13pt
  clear left

:local(.general)
    border 1px solid black

:local(.general
  &__icon)
    width 100%
    height 100%

:local(.description)
  display inline-block
  width 45%

:local(.parametr)
  float: left
  width: 33%

:local(.active)
  border-bottom 1px solid black

:local(.tab)
  float: left
  width: 33%
  cursor: pointer

:local(.hide_tab)
  display none

:local(.forecast_day)
  float: left
  width: 25%