
:local(.weather_container)
  width 250px
  margin 100px auto
  padding 10px
  text-align left
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  border-width: 0 3px 3px 3px
  border-style double
  border-color black
  overflow hidden

:local(.tab_container)
  font-size 13pt
  clear left

:local(.tab)
  float left
  width 33%
  cursor pointer
  padding: 2px
  margin-right: 1px
  border 1px solid white
  border-bottom 1px solid black

  & i
    margin-right: 3px

:local(.tab_cities)
  width 25%

:local(.active)
  border 1px solid black
  border-radius 3px 3px 0 0

:local(.hide_tab)
  display none

/*field*/
:local(.field)
  margin 10px 0
  width 100%

:local(.field__label)
  display block
  width 100%
  font-weight bolder

:local(.field__control)
  margin 3px 0 10px 0
  width 100%